In [ ]:
# VARIABLES
 # • Variables are container of data
 # • Variable holds a value

In [5]:
# Rules to create variable names in Python
 # Variables names are alpha numeric , but it should not start with digits
num1 = 10 # valid
print(num1) 
1num = 10 # invalid , SyntaxError: invalid decimal literal
print(1num)

SyntaxError: invalid decimal literal (381941075.py, line 5)

In [7]:
 #No other special character is allowed with variable name except underscore (_) 
 # Variable name can start with underscore and underscore itself can be used asa variable name
_ = 100
_num2 = 200
Product_of_two_numbers = _*_num2
print(_ , Product_of_two_numbers)
person@1 = 'john'

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2064902169.py, line 7)

In [8]:
 # variable name should not contain whitespaces within
first name = 'Alice'

SyntaxError: invalid syntax (2136116319.py, line 2)

In [1]:
 #Keywords should not be used as a variable names
def = 10

SyntaxError: invalid syntax (1383714580.py, line 2)

In [2]:
 # Variable names are case sensitive, means NUM, num, Num will be treated
 # as different variables due to the differences in case even though they are spelled the same
num = 1000
Num = 2000
NUM = 3000
print(num , NUM)

1000 3000

In [1]:
x = 10 # assigning 10 to variable x
y = 20
print(x+y)
# Python variables donot require explicit declaration of type 
#The type of the variable is based on the value assigned
print(x , type(x))

30
10 <class 'int'>

In [2]:
# Dynamic typing 
x = 100
x = "String"
print(x , type(x))

# Multiple assignments --> assigning same value 
x = y = z = 1028
print(x , y , z)

#Assigning different values
a , b , c = 1 , 2.91 , "python"
print(a , b , c)

# Type casting 
p = 10.012
q = 10
r = a + b
print("Type of sum : " , r , type(r) , "Type of P : " , p , type(p) , "Type of q : " , q , type(r))
a = 21
b = 10.99
c = a+b
print("a-->" , a , type(a))
print("b-->" , b , type(b))
print("c-->" , c , type(c))
a = float(a)
print(a , type(a))
b = (int)(b)
print(b , type(b))

String <class 'str'>
1028 1028 1028
1 2.91 python
Type of sum :  3.91 <class 'float'> Type of P :  10.012 <class 'float'> Type of q :  10 <class 'float'>
a--> 21 <class 'int'>
b--> 10.99 <class 'float'>
c--> 31.990000000000002 <class 'float'>
21.0 <class 'float'>
10 <class 'int'>

In [6]:
#Operators 
# Every operation consists two parts
# 1. Operand(s) 2. Operator
# Operand(s): On which the operation is being performed
# Operator: The one which is performing the operation
a , b = 10 , 3
# 1.Arthemetic operators
 #Addition (+)
print("sum : " , a+b)
 #Subtraction (-)
print("subtract : " ,a-b)
 #Multiplication (*)
print("product : " , a*b)
 #division (Quotient -- > Actual) (/)
print("Division : " , a/b)
 # Floor division (Quotient ---> Integer) (//)
print("Floor Division : " , a//b)
 # Modulo Division (Remainder) (%)
print("Modulus : " , a%b)
 # Exponentiation (power) --> (**)
print("Power : " ,a**b) # (a^b) 

 #Addition(+) operator is used not on only integers and floating pointvalues 
 # it also used on sequence types like string , list , tuple
 #String 
print("String concatination : " , "Hello " + "World")
 #List 
list1 = [10 , 20 , 30]
list2 = [40 , 50 , 60]
print("Conatination of lists: " ,list1 + list2)
#Tuple
tup1 = (100 , 200 , 300)
tup2 = (400 , 500 , 600)
print("Concatination of tuples : " , tup1 + tup2)
 #Multiplication(*) operator is used not only on integers and floating point values
 # it is also used on list , string  , tuple
num = 10
name = "Python "
print(num*name)
list3 = [10]
print(num*list3)
tup3 = (101 , 202)
print(4*tup3)

sum :  13
subtract :  7
product :  30
Division :  3.3333333333333335
Floor Division :  3
Modulus :  1
Power :  1000
String concatination :  Hello World
Conatination of lists:  [10, 20, 30, 40, 50, 60]
Concatination of tuples :  (100, 200, 300, 400, 500, 600)
Python Python Python Python Python Python Python Python Python Python
[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]
(101, 202, 101, 202, 101, 202, 101, 202)

In [10]:
# Evaluation of Arithmetic Expressions (Operator Precedence and Associativity)
# BODMAS rule       | In python PEMDAS rule
#B - Brackets       | P - Parantheses
#O - Order          | E - Exponentiation
#D - Division       | M - Multiplication
# M–>Multiplication | D - Division   
# A–> Addition      | A - Addition
# S–> Subtraction   | S - Subtraction
# Priority  Order of Precedence in Arithmetic Operators
# 1st (**) , 2nd (* , / , // , %) , 3rd (+ , -)
print(3/2+4*3)
print(10*4%2+6)

#Associativity
 #if an expression contains operators that are having same precendence , then associativity must be applied
 #All arthemetic operators in python follow "left- right associativity" except exponentiation(**)
 #Exponentiation follows right - left associativity
print(5%2//2*3)
print(2**3+4*2/4)

13.5
6
0
10.0

In [13]:
#2.Releational or comparision operators -->return_type bool
a = 10
b = 2
c = 1
print(a > b)
print(a >= b)
print(a < b)
print(a <= b)
print(a == b)
print(a != b)
# continuous Reletionalexpression 
print(a > b > c)

True
True
False
False
False
True
True

In [17]:
# 3. Logical Operators
 # i. Logical AND (and) --> True if both left and right operands are True , False otherwise
print(10 < 20 and 10 < 30)
print(10 > 20 and 10 < 30)
print(10 == 10 and 10 != 20 and 10 < 20)
 #ii. Logical OR (or) --> True if one of the operand is true , False otherwise
print(10 > 20 or 20 < 30)
print(10 < 20 or 20 < 30)
print(10 > 20 or 10 > 30)
print(10 == 10 or 20 == 10 or 30 < 1 )
 #iii. Logical NOT(not) --> Inverse the truth
print(not(10 > 5))
not(20 < 10)

True
False
True
True
True
False
True
False

True

In [1]:
# 4. Assignment operator
a = 10 # assign -> =
a += 10   # += -> add and assign
print(a)
a -= 5    # -= -> Subtract and assign
print(a)
a *= 10   # *= -> Divide and assign
print(a)
a /= 10   # /= -> floor and assign
print(a)
a %= 2    # %= -> madulo and assign
print(a)
a **= 3   # **= ->  power and assign 
print(a)
a //= 1   # //= ->  Floor divide and assign
print(a)

20
15
150
15.0
1.0
1.0
1.0

In [7]:
# Bitwise operators
#Compares each bit of first operand to the corresponding bit of second operand

a = 11
b = 12

# Bitwise AND (&)
#  sets the result bit to 1, if and only if bothbits are 1, otherwise to 0
print("AND" , a and b)
print("AND" , a & b)

# Bitwise OR (|)
#  sets the result bit to 1, even if one of the bits is 1, otherwise to 0
print("OR" , a or b)
print("OR" , a | b)

# Bitwise XOR (^)
# sets the result bit to 1, if one bit is 0 and the other is 1 or vice versa
print("XOR" , a^b)

# Left Shift (<<)
# Multiplying --> a << b = a*2**b
print(a << b)

# Right Shift (>>)
# Dividing --> a >> b = a//2**b
print(a >> b)

AND 12
AND 8
OR 11
OR 15
XOR 7
45056
0

In [1]:
# Member ship operator
# in , not in --> tells if the given element is a member of a iterable
# iterable objects : list , string , tuple , set , range
print('h' in 'hello')
print('H' in 'hello')
print('hell' in 'hello' , 'helo' in 'hello')
myList = [10 , 20 , 30]
print(20 in myList)
print(100 in myList)
# print(1 in 100) #TyoeError
print('1' in '100')

True
False
True False
True
False
True

In [3]:
# To check given character is a alphabet or digit or special character
ch = input("Enter a character : ")
alphabets = "abcdefghijklmonpqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ"
digits = '0123456789'
if(ch in alphabets):
    print("Alphabet")
elif(ch in digit):
    print("Digit")
else:
    print("Special Character")

Enter a character :  e

Alphabet